<div class="container" id="issue-form">
  <div class="row align-items-center">
    <div class="col-sm-8 ml-auto mr-auto">
      <h3 class="pb-3 pt-3">Issue QR Token Cards</h3>

      <hr>

      <form>

        <div class="text-center">
          <img [hidden]="!selectedToken" [src]="selectedToken.icon" style="height: 5rem;">
        </div>

        <div class="form-row pt-0">
          <div class="col-10 pb-1 pr-0">
            <select (change)="selectToken($event)" [(ngModel)]="selectedTokenAddress" class="form-control"
                    id="selectedToken" name="selectedToken">
              <option *ngFor="let token of tokens" [value]="token.address">{{token.name}}</option>
            </select>
          </div>
          <div class="col-2 pb-1">
            <span [hidden]="!selectedToken.inApproval || selectedToken.allowance != 0" class="lds-heart" style="top: -16px;"><i></i></span>
            <button (click)="approveToken(selectedToken)" [disabled]="selectedToken.allowance > 0" [hidden]="selectedToken.inApproval"
                    class="btn btn-success" title="Approve transfer coins." type="submit">
              <fa-icon [icon]="unlockIcon" [hidden]="selectedToken.inApproval || selectedToken.allowance > 0"></fa-icon>
              <fa-icon [icon]="thumbsUpIcon" [hidden]="selectedToken.allowance == 0"></fa-icon>
            </button>
          </div>

          <div class="col-10 pb-1 pr-0 pt-1">
            <input [(ngModel)]="tokenAmount" class="form-control mb-2" id="tokenAmount" name="tokenAmount" placeholder="Token amount"
                   type="number">

            <select [(ngModel)]="cardsAmount" class="form-control" id="cardsAmount" name="cardsAmount">
              <option selected value="">-- Select Cards Amount --</option>
              <option value="4">4</option>
              <option value="8">8</option>
              <option value="16">16</option>
              <option value="32">32</option>
            </select>
          </div>
        </div>

        <div class="p-0" style="text-align: center">
          <button class="btn btn-primary btn-lg" title="Approve transfer coins." type="submit">
            CREATE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
