<div class="container-fluid" [hidden]="!loading || done">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="lds-ripple m-auto d-block"><div></div><div></div></div>
        </div>
    </div>
</div>

<div class="container-fluid" [hidden]="!isRedeemed || loading || done">
    <div class="row align-items-center">
        <div class="col-12 text-center">
            <h3 class="mt-5">QRToken is already taken!</h3>
        </div>
    </div>
</div>

<div class="container-fluid" [hidden]="!done || loading">
    <div class="row align-items-center">
        <div class="col-12 text-center">
            <h3 class="mt-5">Your tokens were transmitted.</h3>
        </div>
    </div>
</div>

<div [hidden]="loading || isRedeemed || done">
    <div class="container" id="redeem-form">
        <div class="row align-items-center">
            <div class="col-sm-8 ml-auto mr-auto">
                <h3 class="pb-3 pt-3">{{tokensAmount}} {{tokenName}}</h3>

                <hr>

                <form (ngSubmit)="f.form.valid && onSubmit()" name="form" #f="ngForm" novalidate>
                    <div class="form-row pt-0 pb-2">
                        <div class="col-12">
                            <input [(ngModel)]="receiver" class="form-control" minlength="42" maxlength="42" required id="receiver" name="receiver"
                                   placeholder="Ethereum Wallet Address"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-row pt-0" [hidden]="!withFee">
                        <div class="col-12">
                            <input [value]="fee + ' %'" class="form-control" minlength="42" maxlength="42" required id="fee" name="fee"
                                   disabled
                                   type="text">
                        </div>
                    </div>

                    <div class="p-0 mt-3" style="text-align: center">
                        <button class="btn btn-success btn-lg" [disabled]="!f.form.valid" title="Approve transfer coins."
                                type="submit">
                            REDEEM YOUR TOKENS
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
