<div class="container-fluid" [hidden]="!loading">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="lds-ripple m-auto d-block"><div></div><div></div></div>
        </div>
    </div>
</div>

<div [hidden]="loading">
    <div class="container" id="redeem-form">
        <div class="row align-items-center">
            <div class="col-sm-8 ml-auto mr-auto">
                <h3 class="pb-3 pt-3">{{tokensAmount}} {{tokenName}}</h3>

                <hr>

                <form (ngSubmit)="f.form.valid && create()" name="form" #f="ngForm" novalidate>
                    <div class="form-row pt-0">
                        <div class="col-12">
                            <select [(ngModel)]="fee" class="form-control"
                                    id="fee" name="fee">
                                <option *ngFor="let fee of fees" [value]="fee.value">{{fee.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="p-0 mt-3" style="text-align: center">
                        <button class="btn btn-success btn-lg" title="Approve transfer coins."
                                type="submit">
                            REDEEM YOUR TOKENS
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
